---
import { colorSheetApi } from '../api/color-sheet';
import GuestLayout from '../layouts/GuestLayout.astro';
import { ColoringImage } from '../components/ColoringImage';
import { Pagination } from '../components/Global/Pagination';

const page = +(Astro.url.searchParams.get('page') || 1);
const { response: coloringPages } = await colorSheetApi(
  Astro as any,
).publicColoringPages({
  page,
  search: 'girlcoloringpage',
});
const perPage = coloringPages?.perPage || 0;
const totalRecords = coloringPages?.totalCount || 0;
---

<GuestLayout
  title='Free Dinosaur Printable Coloring Pages | KidsColoringPage.com'
  permalink='/dinosaur-coloring-pages'
>
  <div class='bg-[#FFF2DF]'>
    <div class='px-responsive container px-4 py-8 md:px-0 md:py-12'>
      <h1 class='mb-5 font-sansita text-4xl font-bold'>
        Free Printable Coloring Pages For Girls
      </h1>
      <p class='mb-8 text-xl font-light text-[#545454]'>
        If you're a kid who loves stories of adventure and friendship, an adult
        seeking a relaxing creative outlet, or a teacher searching for engaging
        and empowering materials, we've got a wonderful collection for you.
        Check out our free girl coloring pages. From brave heroines and creative
        artists, to everyday girls exploring the world around them, our pages
        celebrate diversity, courage, and fun. Just a click away, and you can
        start coloring inspirational scenes that showcase the spirit and
        adventures of girls.
      </p>

      <div class='max-auto'>
        <div class='grid grid-cols-2 gap-4 md:grid-cols-4'>
          {
            coloringPages?.data?.map((colorPage, index) => (
              <ColoringImage
                client:load
                src={colorPage?.url}
                title={colorPage?.prompt}
                alt={`girlcoloringpage-${index}`}
              />
            ))
          }
        </div>
        <Pagination
          currentPage={page}
          perPage={perPage}
          totalRecords={totalRecords}
        />
      </div>
    </div>
  </div>
</GuestLayout>
