---
import { colorSheetApi } from '../api/color-sheet';
import GuestLayout from '../layouts/GuestLayout.astro';
import { ColoringImage } from '../components/ColoringImage';
import { Pagination } from '../components/Global/Pagination';

const page = +(Astro.url.searchParams.get('page') || 1);
const { response: coloringPages } = await colorSheetApi(
  Astro as any,
).publicColoringPages({
  page,
  search: 'spiderman',
});
const perPage = coloringPages?.perPage || 0;
const totalRecords = coloringPages?.totalCount || 0;
---

<GuestLayout
  title='Free Spiderman Printable Coloring Pages | KidsColoringPage.com'
  permalink='/spiderman-coloring-pages'
>
  <div class='bg-[#FFF2DF]'>
    <div class='px-responsive container px-4 py-8 md:px-0 md:py-12'>
      <h1 class='mb-5 font-sansita text-4xl font-bold'>
        Free Spiderman Printable Coloring Pages
      </h1>
      <p class='mb-8 text-xl font-light text-[#545454]'>
        If you're a kid who marvels at web-slinging heroes, an adult in search
        of a superheroic escape, or a teacher looking for thrilling educational
        materials, we've got an exciting collection for you. Swing into our free
        Spider-Man coloring pages. From the daring Spider-Man in action across
        the city skyline to his encounters with infamous villains, a world of
        adventure awaits your creativity. Just a click away, and you can start
        bringing the iconic Spider-Man to life with your colors, diving into his
        universe of bravery and heroism.
      </p>

      <div class='max-auto'>
        <div class='grid grid-cols-2 gap-4 md:grid-cols-4'>
          {
            coloringPages?.data?.map((colorPage, index) => (
              <ColoringImage
                client:load
                src={colorPage?.url}
                title={colorPage?.prompt}
                alt={`spiderman-${index}`}
              />
            ))
          }
        </div>
        <Pagination
          currentPage={page}
          perPage={perPage}
          totalRecords={totalRecords}
        />
      </div>
    </div>
  </div>
</GuestLayout>
